{% extends "main/master/index.html" %}
<!---->
{% block title %}
    ภาพรวม
{% endblock title %}
<!---->
{% block content %}
    <style>
    .fc-event-title {
        overflow: hidden; /* Hides overflowing content */
        white-space: nowrap; /* Prevents text wrapping to a new line */
        text-overflow: ellipsis; /* Displays an ellipsis (...) for truncated text */
    }
    </style>
    <div class="content-card">
        <h2 class="text-dark">การใช้ห้องเรียนโดยภาพรวม</h2>
        <div class="row">
            <!-- Calendar -->
            <div class="col-md-6">
                <div class="card p-3">
                    <h4>ปฏิทินแสดงการใช้ห้องเรียน</h4>
                    <div id="calendar" class="scroll-box"></div>
                </div>
            </div>
            <!-- Timeline -->
            <div class="col-md-6">
                <div class="card p-3">
                    <h4>มุมมองแบบไทม์ไลน์</h4>
                    <div id="timeline" class="scroll-box"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- FullCalendar -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <!-- Getting locales from older version of FullCalendar -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.0-beta.1/locales-all.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'th',
                timeZone: '{{ server_timezone }}',
                events: {{ events | safe }},
                eventDidMount: function(info) {
                    new bootstrap.Tooltip(info.el, {
                    title: info.event.title + 
                            (info.event.extendedProps.description ? " - " + info.event.extendedProps.description : ""),
                    placement: 'top',
                    trigger: 'hover',
                    container: 'body'
                    }); },
                themeSystem: 'bootstrap5',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                }
            });
            var timelineEl = document.getElementById('timeline');
            var timeline = new FullCalendar.Calendar(timelineEl, {
                initialView: 'listYear',
                locale: 'th',
                timeZone: '{{ server_timezone }}',
                events: {{ events | safe }},
                themeSystem: 'bootstrap5',
                headerToolbar: ''
            });
            calendar.render();
            timeline.render();
        });
    </script>
{% endblock content %}
